
<td><%= image_tag customer.get_image(200,200) %></td>
<table class="table table-striped table-warning">
  <% if customer == current_customer %>
    <tr>
      <th>名前</th>
      <td><%= customer.name %></td>
    </tr>
  <% end %>
  <tr>
    <th>ニックネーム</th>
    <td><%= customer.nickname %></td>
    </tr>
  <tr>
    <th>自己紹介</th>
    <!--%=safe_join(customer.introduction.split("\n"),tag(:br))%></t>-->
    <td><%= customer.introduction %></td>
  </tr>
  <% if customer == current_customer %>
    <tr>
      <th>メールアドレス</th>
      <td><%= customer.email %></td>
    </tr>
  <% end %>
  <tr>
     <% if customer == current_customer && customer.name != "gestcustomer" %>
         <th></th>
         <td>
         <%= link_to edit_customer_path(customer),class: "btn btn-outline-secondary btn-block" do %>
           <i class="fas fa-user-cog"></i>編集する
           <% end %>
         </td>
     <% end %>
  </tr>
</table>

<div><%= link_to "つぶやく", new_tweet_path,class: "btn" %></div>

<div><%= link_to "離乳食レシピを投稿する", new_babyfood_path,class: "btn" %></div>