<div class="container">
  <div class="row">
    <div class="col-6">
      <h1><%= @customer.name %>さんのページ</h1>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-secondary btn-lg" disabled>つぶやき</button>
      <%= link_to "離乳食", customer_babyfoods_path(@customer.id),class: "btn btn-outline-warning btn-lg" %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%= render 'info', customer: @customer %>
      <%= render 'link', customer: @customer %>
    </div>

    <div class="col-7">
        <% @tweets.each do |tweet| %>
          <div class="card border-dark mb-3" style="max-width: 25rem;">
          <div class="card-header bg-transparent border-dark">
          <%= link_to customer_path(tweet.customer.id) do %>
            <th><%= tweet.customer.nickname %></th>
          <% end %>
      <!--削除機能（投稿ユーザーのみ）-->
          <% if tweet.customer == current_customer %>
            <td>
              <%= link_to tweet_path(tweet), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
        <% end %>
      </div>

      <div class="card-body text-dark">
        <p class="card-text">
          <%=safe_join(tweet.content.split("\n"),tag(:br))%>
        </p>
      </div>
      <div class="card-footer bg-transparent border-dark">
      <!--コメント数表示-->
        <%= link_to tweet_path(tweet.id) do %>
          <td>
            <i class="far fa-comment"></i>
            ：<%= tweet.comments.count %>
          </td>
        <% end %>
      <!--いいね表示-->
        <td>
          <% if tweet.favorited_by?(current_customer) %><!--いいねしている会員か確認-->
            <p>
              <%= link_to tweet_favorites_path(tweet), method: :delete do %>
                ♥<%= tweet.favorites.count %>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to tweet_favorites_path(tweet), method: :post do %>
                ♡<%= tweet.favorites.count %>
              <% end %>
            </p>
          <% end %>
        </td>
      <!--投稿日表示-->
        <td><%= tweet.created_at.strftime('%Y/%m/%d') %></td>
      </div>
    </div>
  <% end %>
 </div>

  </div>
</div>
