<div class="container">
  <h1>管理者：つぶやき一覧</h1>

<!--カードで一覧表示-->
  <% @tweets.each do |tweet| %>
    <div class="card border-dark mb-3" style="max-width: 25rem;">
      <div class="card-header bg-transparent border-dark">
        <%= link_to admin_customer_path(tweet.customer.id) do %>
          <th><%= tweet.customer.nickname %></th>
        <% end %>
        <!--削除機能（管理者のため全投稿）-->
        <td>
          <%= link_to admin_tweet_path(tweet), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
            <i class="fas fa-trash-alt"></i>
        </td>
      <% end %>
    </div>
    <div class="card-body text-dark">
      <p class="card-text">
        <%=safe_join(tweet.content.split("\n"),tag(:br))%>
      </p>
    </div>
    <div class="card-footer bg-transparent border-dark tweet-fooder">
      <div class="d-flex flex-row bd-highlight mb-3">
      <!--コメント数表示-->
        <div class="mr-3">
          <%= link_to admin_tweet_path(tweet.id) do %>
            <td>
              <i class="far fa-comment"></i>
              ：<%= tweet.comments.count %>
            </td>
          <% end %>
        </div>
      <!--いいね（表示のみ）-->
        <td>
          ♡<%= tweet.favorites.count %>
        </td>
      </div>
      <!--投稿日表示-->
      <td><%= tweet.created_at.strftime('%Y/%m/%d') %></td>
    </div>
  </div>
<% end %>
<!--ページネーション-->
<%= paginate @tweets %>
</div>