<div class="container">
    <div class="row">
      <div class="col-4">
        <%= render 'public/customers/info', customer: @tweet.customer %>
      </div>
       <div class="col-7">
         <h1>管理者：つぶやき詳細</h1>

         <!--カードで表示-->
         <div class="card border-dark mb-3" style="max-width: 25rem;">
           <div class="card-header bg-transparent border-dark">
             <%= link_to admin_customer_path(@tweet.customer.id) do %>
               <th><%= @tweet.customer.nickname %></th>
             <% end %>
             <!--削除機能（管理者のため全投稿）-->
             <td>
               <%= link_to admin_tweet_path(@tweet), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                 <i class="fas fa-trash-alt"></i>
               <% end %>
             </td>
           </div>
           <div class="card-body text-dark">
             <p class="card-text">
               <%= @tweet.content %>
             </p>
           </div>
           <div class="card-footer bg-transparent border-dark tweet-fooder">
             <div class="d-flex flex-row bd-highlight mb-3">
              <!--コメント数表示-->
                <div class="mr-3">
                  <%= link_to admin_tweet_path(@tweet.id) do %>
                    <td>
                      <i class="far fa-comment"></i>
                      ：<%= @tweet.comments.count %>
                    </td>
                  <% end %>
                </div>
            <!--いいね数表示-->
                <td>
                  ♡<%= @tweet.favorites.count %>
                </td>
              </div>
             <!--投稿日表示-->
             <td><%= @tweet.created_at.strftime('%Y/%m/%d') %></td>
           </div>
         </div>

          <!--コメント一覧-->
         <% @tweet.comments.each do |comment| %>
           <div class="card border-dark mb-3" style="max-width: 18rem;">
             <div class="card-header bg-transparent border-dark">
               <th><%= comment.customer.nickname %></th>
               <!--削除機能（管理者のため全投稿）-->
               <td>
                 <%= link_to admin_tweet_comment_path(comment.tweet, comment), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                   <i class="fas fa-trash-alt"></i>
                 <% end %>
               </td>
             </div>
             <div class="card-body text-dark">
               <p class="card-text">
                 <%= comment.message %>
               </p>
             </div>

             <div class="card-footer bg-transparent border-dark">
               <%= comment.created_at.strftime('%Y/%m/%d') %>
             </div>
           </div>
         <% end %>
       </div>
    </div>