<div class="container">
  <h3><%= @babyfood.title %></h3>
  <!--管理者側の削除-->
  <td>
    <%= link_to admin_babyfood_path(@babyfood), method: :delete, "data-confirm" => "本当に削除しますか？"  do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
  <div class="row">
    <div class="col-5 mt-4 mb-3">
      <td><%= image_tag @babyfood.get_image(250,250) %></td>

      <div class="card border-warning mb-3 mt-4 mb-3" style="max-width: 18rem;">
        <p class="card-text py-3 px-3">
          <tr>
            <th>【材料】</th><br>
            <td><%=safe_join(@babyfood.food.split("\n"),tag(:br))%></td><!--投稿したままにスペースと改行をする-->
          </tr>
        </p>
     </div>

    </div>
    <div class="col-7">
      <div class="card border-warning mb-3 mt-4 mb-3" style="max-width: 30rem;">
        <p class="card-text py-3 px-3">
          <tr>
            <tr>
              <td><%= @babyfood.tag.name %></td><br>
              <!--投稿者の会員ページへの遷移指定
              <td>レシピ投稿：
                <%= link_to admin_customer_path(@babyfood.customer.id) do %>
              <td><%= @babyfood.customer.nickname %></td>
              <% end %>
              さん</td>
            </tr><br>
            <th>【ポイント】</th><br>
            <td><%=safe_join(@babyfood.point.split("\n"),tag(:br))%></td><!--投稿したままにスペースと改行をする-->
          </tr>
        </p>
     </div>
     <div class="card border-warning mb-3 mt-4 mb-3" style="max-width: 30rem;">
        <p class="card-text py-3 px-3">
          <tr>
            <th>【作り方】</th><br>
            <td><%=safe_join(@babyfood.making.split("\n"),tag(:br))%></td><!--投稿したままにスペースと改行をする-->
          </tr>
        </p>
     </div>
    </div>
  </div>

</div>
