<div class="container">
  <h1>離乳食レシピ投稿</h1>

  <p class="text-danger">
    <% if @babyfood.errors.any? %>
      <%= @babyfood.errors.count %>件が空欄または料理名が20文字以上です
    <% end %>
  </p>

  <%= form_with model: @babyfood, url: babyfoods_path, method: :post do |f| %>
    <div class="row">
      <div class="col-5">
        <div>
          <%= f.label :料理名 %><br>
          <%= f.text_field :title %>
        </div>
      <!--タグ付け用のラジオボタン-->
        <div class="check_box">
  　       <%= f.collection_radio_buttons(:tag_id, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
              <%= tag.label do %>
                <%= tag.radio_button %>
                <%= tag.text %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div>
          <%= f.label :料理画像 %><br>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
      </div>
      <div class="col-7">
        <div>
          <%= f.label :ポイント %><br>
          <%= f.text_area :point, placeholder: "冷凍ができます　など", class: 'form-control',size: "3x5"%>
        </div>

        <div>
          <%= f.label :材料 %><br>
          <%= f.text_area :food, placeholder: "・ご飯　70g", class: 'form-control',size: "10x5" %>
        </div>

        <div>
          <%= f.label :作り方 %><br>
          <%= f.text_area :making, placeholder: "１、鍋でご飯と水を温める", class: 'form-control',size: "15x5" %>
        </div>
       <%= f.submit 'レシピ投稿',class: "btn btn-lg btn-warning mt-4 mb-3" %>
    </div>

<% end %>

</div>